# THIRD PARTY TOKENS

YANDEX_API_TOKEN=yandex_api_token
TELEGRAM_BOT_TOKEN=telegram_bot_token

# SERVICES CONFIGURATION
NODE_ENV="production"

SERVER_PORT=3000
FRONTEND_URL="http:localhost:5173"
BASE_URL="http://localhost:3000"
JWT_SECRET=some_jwt_secret
CORS=localhost:5173,localhost:5174

# DATABASE CONFIG

DATABASE_URL=postgresql://user:password@postgres:5432/service
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=service

REDIS_URL=redis://redis:6379
