@import "tailwindcss";
@import "tailwindcss-primeui";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  min-height: 100dvh;
  display: flex;
}

#app {
  display: flex;
  max-width: 100vw;
  align-items: center;

  padding: 16px;
  flex: 1;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
